Repository redux-saga/redux-saga, pull requests merged in 2022-06, with the labels that each got.

#2275 Added mention about manual browser tab opening after compilation
  docs/introduction/BeginnerTutorial.md
Labels: docs

#2281 Update API.md
  docs/API.md
Labels: docs

#2292 Use alternative method for checking bundle sizes
  .github/workflows/nodejs.yml
  .github/workflows/size.yml
  package.json
  packages/redux-saga/package.json
  yarn.lock
Labels: enhancement

#2293 warn developer that delay has a maximum value if they exceed it and r…
  .changeset/smart-schools-know.md
  packages/core/__tests__/sagaHelpers/delay.js
  packages/delay-p/src/index.js
Labels: enhancement

#2250 Add multicastChannel documentation
  docs/advanced/Channels.md
Labels: feedback wanted, docs

#2234 clarify race() behavior when one effect throws
  docs/API.md
Labels: feedback wanted, docs

#2297 Adds isAborted method and joiners array property to mock task
  .changeset/giant-cherries-tie.md
  docs/advanced/TaskCancellation.md
  packages/testing-utils/__tests__/createMockTask.js
  packages/testing-utils/src/index.js
  packages/testing-utils/types/index.d.ts
Labels: enhancement

#2115 add missing export syntax on docs
  docs/introduction/BeginnerTutorial.md
Labels: feedback wanted, docs
